<!DOCTYPE html>

<html>
  <head>
    <title>Job Search</title>
    <style>
      #find-button{
        background-color: teal;
      }

      #outer-box {
        border: solid;
      }
    </style>
  </head>  
  <body>
    <h1>Search by term:</h1>
    <div id="outer-box">
      <form action="/report" method="get">
        <input placeholder="i.e python" name="job" required/>
        <div>
          <button id="find-button">Find my job</button>
        </div>
      </form>
    </div>
  </body>
</html>