<!DOCTYPE html>

<html>
  <head>
    <title>Job Search</title>    
    <style>
      .center {
        display:flex;
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <h1 class="center">Remote Jobs</h1>
    <h3 class="center">{{resultsNumber}} {{searchingBy}} jobs found.</h3>
    <a href="https://example.com" class="center">Export to CSV</a>
    <div class="center">
      <a href="https://example.com"><- Go back</a>  
    </div>
    <!-- template start -->
    <section>
      <h4 class="center">Software Architect - Cloud Services Integration</h4>
      <h4 class="center">Ockam</h4>
      <h4 class="center"><a href="https://example.com" >Apply</a></h4>
    </section>
    <br><hr><br>
    <!-- template end -->
  </body>
</html>