<!DOCTYPE html>

<html>
  <head>
    <title>Job Search</title>    
    <style>
      .center {
        display:flex;
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <h1 class="center">Remote Jobs</h1>
    <h3 class="center">{{resultsNumber}} {{searchingBy}} jobs found.</h3>
    <a href="https://day-thirteen-and-fourteen.jongseob.repl.co/export?word={{searchingBy}}" class="center">Export to CSV</a>
    <div class="center">
      <a href="https://day-thirteen-and-fourteen.jongseob.repl.co"><- Go back</a>  
    </div>
    <!-- template start -->
    <section>
      <ul>
        {#- jobs is the array of dicts #}
        {%- for a_job in jobs %}
        <li>
          <h4>{{a_job.title}}</h4>
          <h4>{{a_job.company}}</h4>
          <h4><a href={{a_job.url}}>Apply</a></h4>
          <br><hr><br>
        </li>
        {%- endfor %}  
      </ul>
    </section>
    <!-- template end -->
  </body>
</html>